body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0px;
	padding: 0px;
	z-index: 11;
}
/*Header styling*/
header {
	display: flex;
	position: fixed;
	border-bottom: 1px solid seashell;
	width: 100%;
	height: 69px;
	align-items: center;
	background-color: black;
	z-index: 1;
}
header .logo {
	display: inline-block;
	padding-left: 10px;
	flex-grow: 1;
}
header .logo img {
	height: 50px;
}
header .menu nav span {
	padding: 15px;
}
header .menu nav span a {
	color: seashell;
}

/*Main Content styling*/
.main-content {
	display: flex;
	position: relative;
	top: 70px;
	flex-direction: column;
	width: 100%;
	justify-content: center;
}

/*Mission part of main content style / 1 box*/
.main-content .main-top {
	background: url('../images/img-mission-background.jpg') no-repeat center;
	height: 700px;
	width: 1400px;
	display: flex;
	align-items: center;
	margin: auto;
}
.main-content .background-line {
	background-color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-content .background-line h2 {
	margin: 8px 0px;
}
.main-content .background-line h4 {
	margin: 8px 0px;
}

/*Middle part of main content style /  2 box */

.main-content .main-middle {
	display: flex;
	width: 1000px;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding-top: 70px;
}
.main-content .tea-list {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
}
.main-content .main-middle h2 {
	margin-bottom: 0px;
}
.main-content .tea-images h4 {
	text-align: center;
	margin-top: 10px;
}
.main-content .tea-images img {
	width: 300px;
	height: 200px;
	margin: 10px;
}

/*Bottom part of main Content / Box 3*/
.main-bottom {
	background: url('../images/img-locations-background.jpg') no-repeat center;
	height: 500px;
	width: 1400px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:  0px auto;
	flex-direction: column;

}
.main-bottom-header h2 {
	margin: 15px auto;
}
.main-bottom .parent-black-box {
	display: flex;
	flex-direction: row;
}
.main-bottom .black-box {
	background-color: black;
	width: 300px;
	height: 300px;
	margin: 20px;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Footer styling  */
footer {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 70px;
}
footer .footer-top {
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer p {
	margin-top: 60px;
	margin-left: 20px;
	font-size: 14px;
	
}